aniso8601==9.0.1
click
dataclasses
dnspython
Flask
Flask-Cors
Flask-Humanize
Flask-RESTful
flatbuffers
humanize
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
pymongo
PyMsgBox
pytz
six
typing_extensions
Werkzeug
zipp